{% extends 'WebPage/base.html' %} 
    
{% block contenido %}
    <form  method="post" > {% csrf_token %}
        <center><h3> Escriba el mensaje que desea enviar: </h3>  <center> 
        Receptor<br><input type = "text" name = "receptor_mensaje">
        
        <br>Mensaje<br>
        <textarea name = "texto_mensaje" rows = "3" cols = "20"></textarea><br>
        </center>
        <input type = "hidden" name = "emisor_mensaje" value = "agustin">
        <input type = "hidden" name = "fecha" value = "2022-02-02">
        <input type="submit" value="Enviar" class = "buttonestilo">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
        </center>
   </form>

 
{% endblock contenido %}