{% extends 'WebPage/base.html' %}

{% block contenido %}
<table class = "table" style = "width:50vw;">
<p>
    {% for mensaje in mensajes %}
    <tr>
        {% if mensaje.emisor == request.user.username %}
            
                <td style = "text-align: left;">
                    De: {{ mensaje.emisor}}  <br>
                    Para: {{mensaje.receptor }}  <br>
                    Mensaje: {{mensaje.texto }}<br>
                    Fecha: {{mensaje.fecha }}<br>
                    
        {% elif  mensaje.receptor == request.user.username %}
                
        <td style = "text-align: right;">
                    De: {{ mensaje.emisor }}  <br>
                    Para: {{mensaje.receptor }}  <br>
                    Mensaje: {{mensaje.texto }}<br>
                    Fecha: {{mensaje.fecha }}<br>
                
            
        {% endif %}
    </p>
    </td></tr>
    {% endfor %}
    <tr><td>
        <center>
            <a href="{% url 'mensaje' %}" role="button">
                <button style ="box-shadow:inset 0px 0px 15px 3px #23395e;background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);background-color:#2e466e;border-radius:17px;border:1px solid #1f2f47;display:inline-block;cursor:pointer;color:#ffffff;font-family:Arial;font-size:15px;padding:9px 76px;text-decoration:none;text-shadow:0px 1px 0px #263666;">
                    Nuevo Mensaje
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                 <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                </svg>
                </button>
            </a>
            </center>
    </td></tr>
</table>
<div>  
{% endblock contenido %}
